<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My First Angular App!</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script> <!-- working dir is /public -->

    <style> .glyphicon-thumbs-up { cursor: pointer } </style>
</head>
<body ng-app="flapperNews">
    <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
    </div>

    <script type="text/ng-template" id="/home.html">
        <div class="page-header">
            <h1>Flapper News</h1>
        </div>

        <div ng-repeat="post in posts | orderBy: '-upvotes'">
            <!-- upvote/downvote -->
            <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
            <span class="glyphicon glyphicon-thumbs-down" ng-click="decrementUpvotes(post)"></span>
            {{post.upvotes}}
            <!-- title w/ optional link -->
            <span style="font-size:20px; margin-left:10px;">
                <!-- If post.link true, display .title and goes to .link -->
                <a ng-show="post.link" href="{{post.link}}">
                    {{post.title}}
                </a>
                <!-- If post.link false, display plain .title -->
                <span ng-hide="post.link">
                    {{post.title}}
                </span>
            </span>
            <!-- comments link, '#/posts/' is the fragment identifier. We use the ._id from the database,
            and handle that url through our url routing -->
            <span>
                <a href="#/posts/{{post._id}}">comments ({{post.comments.length}})</a>
            </span>
        </div>

        <form ng-submit="addPost()" style="margin-top:30px;">
            <h3>Add a new post</h3>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Title" ng-model="title" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Link" ng-model="link" />
            </div>
            <button type="submit" class="btn btn-primary">Post!</button>
        </form>
    </script>

    <script type="text/ng-template" id="/posts.html">
        <div class="page-header">
            <h3>
                <!-- If post.link true, display .title and goes to .link -->
                <a ng-show="post.link" href="{{post.link}}">
                    {{post.title}}
                </a>
                <!-- If post.link false, display plain .title -->
                <span ng-hide="post.link">
                    {{post.title}}
                </span>
            </h3>
        </div>

        <!-- loop through each comment in comments property of post, displaying upvotes/author/body -->
        <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
            <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
            <span class="glyphicon glyphicon-thumbs-down" ng-click="decrementUpvotes(comment)"></span>
            {{comment.upvotes}} - by {{comment.author}}
            <span style="font-size:20px; margin-left:10px;">
                {{comment.body}}
            </span>
        </div>
        <br>

        <!-- if !commentUiVisible, display the "show" button -->
        <div ng-hide="commentUiVisible">
            <button ng-click="showNewCommentUi()" class="btn">Show comment UI</button>
        </div>
        <!-- if commentUiVisible, display the "hide" button and the form -->
        <div ng-show="commentUiVisible">
            <button ng-click="hideNewCommentUi()" class="btn">Hide comment UI</button>

            <form ng-submit="addComment()" style="margin-top:30px;">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Comment" ng-model="body" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Author" ng-model="author" />
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
    </script>

</body>
</html>